<!-- NO LONGER IN USE, USED FOR TESTING BEFORE POSTS SCAFFOLD CREATED-->

<body class="blog_body">

  <div class="blog_page_contanier">

    <div class="blog_title">
      <h1>Blog Page</h1>
    </div>

    <div class="blog_posts_container">

      <div class="blog_post well">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis congue leo. Sed pellentesque in felis eget consequat. Nulla vitae sem eget diam lobortis sollicitudin nec quis tortor. Nulla facilisi. Mauris tincidunt augue et aliquet fermentum.
        Nullam hendrerit vestibulum tortor et consectetur. Etiam a tincidunt augue. Donec eu lacinia urna, ut hendrerit mauris. Phasellus eu laoreet purus, nec aliquam mauris. Nam mollis sed urna sit amet rutrum. Aliquam lacinia et erat ac luctus. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin auctor mauris arcu, laoreet dictum risus cursus id. Proin interdum felis mauris, vel lacinia ipsum molestie eget.
      </div>

      <div class="blog_post well">
        Ut venenatis lorem a eros viverra dignissim. Aliquam vestibulum aliquet turpis id ornare. Suspendisse ultrices, ipsum mattis tincidunt aliquet, neque quam posuere lectus, sed suscipit quam tellus at nisi. Donec dignissim dapibus volutpat. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Curabitur faucibus tincidunt tincidunt. Duis vitae nulla metus. Quisque elementum orci vitae libero imperdiet fermentum. Donec ut lectus quis sapien tempor condimentum id in leo. Nunc tellus erat, finibus
        id ultricies volutpat, imperdiet at sapien. Proin in lectus laoreet, sollicitudin erat nec, ultrices ipsum.
      </div>

      <div class="blog_post well">
        Sed rhoncus tortor commodo, dictum enim a, fermentum massa. Proin vitae posuere libero, vitae malesuada turpis. Vestibulum lorem ante, tempus eget turpis vel, ultricies semper nulla. Cras suscipit dui ac faucibus volutpat. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc a ligula mi. Maecenas consequat, odio ut ullamcorper ultrices, ex nunc sollicitudin sapien, a venenatis diam elit eu velit. Aenean et dui ultrices lectus tempor auctor. Nulla
        blandit eleifend ipsum, a scelerisque tellus commodo in. In a odio turpis.
      </div>

      <div class="blog_post well">
        Curabitur et turpis a tellus hendrerit tincidunt eget eu dui. Ut bibendum ligula id ornare egestas. Mauris aliquam magna eu nisi tincidunt molestie. Nullam arcu purus, ornare vel ex sed, blandit pharetra augue. Donec quis erat nulla. Vestibulum
        luctus sapien sit amet erat accumsan congue. Mauris lobortis tellus vitae eros sodales hendrerit. Nunc volutpat, urna venenatis vestibulum tempus, velit elit scelerisque nulla, vel condimentum felis dui at lorem. Duis et nisl mollis, commodo magna
        quis, vehicula est. Proin tempor consectetur orci, sed aliquam elit posuere at.
      </div>

      <div class="blog_post well">
        Fusce nec malesuada sapien. Curabitur pretium cursus ipsum hendrerit semper. In vel consectetur tellus. Donec commodo euismod vehicula. Nam quam mi, dignissim et sem ut, condimentum malesuada nisl. Ut euismod in sem ac condimentum. Donec nulla eros,
        laoreet vitae quam ac, feugiat venenatis nulla. Nulla maximus cursus dui, ut suscipit sapien pellentesque ut. Quisque auctor ipsum et finibus venenatis. Donec cursus accumsan nisi varius pulvinar. Nulla facilisi. Praesent eu ultricies mi. Duis
        facilisis sem tincidunt velit sagittis, in vulputate ipsum commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis congue leo. Sed pellentesque in felis eget consequat. Nulla vitae sem eget diam lobortis sollicitudin nec quis
        tortor. Nulla facilisi. Mauris tincidunt augue et aliquet fermentum. Nullam hendrerit vestibulum tortor et consectetur. Etiam a tincidunt augue. Donec eu lacinia urna, ut hendrerit mauris. Phasellus eu laoreet purus, nec aliquam mauris. Nam mollis
        sed urna sit amet rutrum. Aliquam lacinia et erat ac luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin auctor mauris arcu, laoreet dictum risus cursus id. Proin interdum felis mauris, vel lacinia
        ipsum molestie eget.
      </div>

      <div class="blog_post well">
        Ut venenatis lorem a eros viverra dignissim. Aliquam vestibulum aliquet turpis id ornare. Suspendisse ultrices, ipsum mattis tincidunt aliquet, neque quam posuere lectus, sed suscipit quam tellus at nisi. Donec dignissim dapibus volutpat. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Curabitur faucibus tincidunt tincidunt. Duis vitae nulla metus. Quisque elementum orci vitae libero imperdiet fermentum. Donec ut lectus quis sapien tempor condimentum id in leo. Nunc tellus erat, finibus
        id ultricies volutpat, imperdiet at sapien. Proin in lectus laoreet, sollicitudin erat nec, ultrices ipsum.
      </div>

      <div class="blog_post well">
        Sed rhoncus tortor commodo, dictum enim a, fermentum massa. Proin vitae posuere libero, vitae malesuada turpis. Vestibulum lorem ante, tempus eget turpis vel, ultricies semper nulla. Cras suscipit dui ac faucibus volutpat. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc a ligula mi. Maecenas consequat, odio ut ullamcorper ultrices, ex nunc sollicitudin sapien, a venenatis diam elit eu velit. Aenean et dui ultrices lectus tempor auctor. Nulla
        blandit eleifend ipsum, a scelerisque tellus commodo in. In a odio turpis.
      </div>

      <div class="blog_post well">
        Curabitur et turpis a tellus hendrerit tincidunt eget eu dui. Ut bibendum ligula id ornare egestas. Mauris aliquam magna eu nisi tincidunt molestie. Nullam arcu purus, ornare vel ex sed, blandit pharetra augue. Donec quis erat nulla. Vestibulum
        luctus sapien sit amet erat accumsan congue. Mauris lobortis tellus vitae eros sodales hendrerit. Nunc volutpat, urna venenatis vestibulum tempus, velit elit scelerisque nulla, vel condimentum felis dui at lorem. Duis et nisl mollis, commodo magna
        quis, vehicula est. Proin tempor consectetur orci, sed aliquam elit posuere at.
      </div>

      <div class="blog_post well">
        Fusce nec malesuada sapien. Curabitur pretium cursus ipsum hendrerit semper. In vel consectetur tellus. Donec commodo euismod vehicula. Nam quam mi, dignissim et sem ut, condimentum malesuada nisl. Ut euismod in sem ac condimentum. Donec nulla eros,
        laoreet vitae quam ac, feugiat venenatis nulla. Nulla maximus cursus dui, ut suscipit sapien pellentesque ut. Quisque auctor ipsum et finibus venenatis. Donec cursus accumsan nisi varius pulvinar. Nulla facilisi. Praesent eu ultricies mi. Duis
        facilisis sem tincidunt velit sagittis, in vulputate ipsum commodo.
      </div>

    </div>

  </div>
</body>
